@model Perigometro.Dominio1.Lista

@{
    List<SelectListItem> lista = new List<SelectListItem>();

    for (int i = 2009; i <= 2014; i++)
    {
        SelectListItem selecionado = new SelectListItem() { Text = i.ToString(), Value = i.ToString() };

        lista.Add(selecionado);  
    }
    
}

<div class="yamm-content full">
    <div class="row">
        <div class="col-sm-4">
            Selecione o intervalo:<br />
            @Html.DropDownListFor(model => model.Ano, lista, "data inicial", htmlAttributes: new { @class = "form-control" })           
            <br />
            <br />
            @Html.DropDownListFor(model => model.Ano, lista, "data final", htmlAttributes: new { @class = "form-control" }) 
            <br />
            Condições climáticas:<br />
            @Html.EnumDropDownListFor(model => model.Clima, "selecione um valor", htmlAttributes: new { @class = "form-control" })
            <br />
        </div>
        <div class="col-sm-4">
            Região:<br />
            @Html.EnumDropDownListFor(model => model.Regiao, "selecione um valor", htmlAttributes: new { @class = "form-control" })
            <br />
            Dia da semana:<br />
            @Html.EnumDropDownListFor(model => model.Semana, "selecione um valor", htmlAttributes: new { @class = "form-control" })
            <br />
            Turno:<br />
            @Html.EnumDropDownListFor(model => model.Turno, "selecione um valor", htmlAttributes: new { @class = "form-control" })
            <br />
        </div>
        <div class="col-sm-4">
            Tipo de acidente:<br />
            @Html.EnumDropDownListFor(model => model.Tipo, "selecione um valor", htmlAttributes: new { @class = "form-control" })
            <br />
            Tipo de veículo:<br />
            @Html.EnumDropDownListFor(model => model.Veiculo, "selecione um valor", htmlAttributes: new { @class = "form-control" })

            <div class="checkbox">
                <label><input type="checkbox" name="Fatal" value="true">Somente acidentes Fatais</label>
            </div>

            <input type="submit" value="Filtrar Acidentes" class="btn btn-success btn-block" />
        </div>
    </div>
</div>
