<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Perigômetro Web</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/yamm")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar yamm navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Perigômetro Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    @if (ViewBag.FiltrarAcidentes != null && ViewBag.FiltrarAcidentes)
                    {
                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filtrar Acidentes</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- Content container to add padding -->

                                <form action="javascript:FiltraDadosIndex()" method="post" name="filtrosIndex">
                                    @Html.Partial("_FiltrosPartial", new Perigometro.Dominio1.Lista())
                                </form>

                                </li>
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("Estatísticas", "Dashboard", "Dashboard")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Sobre")</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Registro de Acidentes", "Index", "Acidentes")</li>

                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Registrar Usuários", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">

            @RenderBody()

            <ul class="loader" hidden="hidden">
                <li>
                    <div class="circle"></div>
                    <div class="ball"></div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="ball"></div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="ball"></div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="ball"></div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="ball"></div>
                </li>

                <span id="dicaTra">Respeite a sinalização !</span>
            </ul>

        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Perigômetro Web - CWI Crescer - 2015/1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/yamm")
    @RenderSection("scripts", required: false)
   
</body>
</html>
