@{
    ViewBag.Title = "Estatísticas";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center">Estatísticas dos Acidentes  </h2>

        <p class="text-center">
            Filtrando por um intervalo de anos, podemos ter algumas estatísticas:
        </p>
        <h4>Escolha o período:</h4>
        
                <select class="form-control esquerda" id="anoIni">
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                </select>
                <select class="form-control esquerda" id="anoFin" >
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                </select>
                 
        <button class="btn btn-success" onclick="submit()">Gerar relatório</button><br> 
    </div>
    
    <br /><br />

    <div class="row">
        <div class="col-md-6 text-center" name="mortes">
            <br /><br />
            <h4>Acidentes fatais:</h4>
            <div>
                <canvas id="myChart" width="300" height="300"></canvas>
            </div>
        </div>

        <div class="col-md-6" >
            <br /><br />
            <h4>Estatísticas gerais:</h4>
            <table cellpadding="15" border="0" class=".table-responsive" style="text-align: left;">
                <thead></thead>
                <tbody>
                    <tr>
                        <td><img src="@Url.Content("~/Content/img/Icons/Calendario.png")"></img></td>
                        <td><h4><b>&nbsp;&nbsp;&nbsp;Dia da Semana mais perigoso:</b>
                        <b id="dia" class="estatisticaLaranja"></b></h4></td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/img/Icons/Tempo.png")"></img></td>
                        <td><h4><b>&nbsp;&nbsp;&nbsp;Condição climática mais perigosa: </b>
                        <b id="tempo" class="estatisticaLaranja"></b></h4></td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/img/Icons/Localizacao.png")"></img></td>
                        <td><h4><b>&nbsp;&nbsp;&nbsp;Região mais perigosa: </b>
                        <b id="regiao" class="estatisticaLaranja"></b></h4></td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/img/Icons/Seguro.png")"></img></td>
                        <td><h4><b>&nbsp;&nbsp;&nbsp;Transporte mais seguro: </b>
                        <b id="seguro" class="estatisticaVerde"></b></h4></td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/img/Icons/Crash.png")"></img></td>
                        <td><h4><b>&nbsp;&nbsp;&nbsp;Transporte mais perigoso: </b>
                            <b id="inseguro" class="estatisticaLaranja"></b></h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/javascriptDashBoard")
    <script>
        inicializaPie();
        inicializaBar();
        function submit() {
            $('ul[class=loader]').removeAttr('hidden');
            var ano1 = $('#anoIni option:selected').val();
            var ano2 = $('#anoFin option:selected').val();
            var back = ano1;
            if (ano1 > ano2) { ano1 = ano2; ano2 = back; }
            buscaEstatisticas(ano1, ano2);
        }
    </script>
}
