@model Perigometro.Dominio.Acidente

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir registro</h2>

<h3>Voçê tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Acidente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Acid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Acid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fatais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fatais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lotacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lotacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onibus_Urb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onibus_Urb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onibus_Int)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onibus_Int)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caminhao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caminhao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carroca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carroca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bicicleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicicleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Outro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Outro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Noite_dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noite_dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia_Sem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia_Sem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
